.jumbotron > div > h1 {
    color: red;
}

.nav span {
    color: red;
}

.lead > a {
    color: red;
}

.blog-main > div:first-of-type {
    border: 1px solid red;
}

.blog-post hr{
    border-top: 1px solid red;
}

.nav span:nth-of-type(odd) {
    color: rgb(33, 163, 33);
}

.list-unstyled li {
    border: 1px solid red;
}

.blog-main > .blog-post:nth-of-type(2) > h2 + .blog-post-meta > a {
    color: red;
}

.blog-main > .blog-post:nth-of-type(3) > ul > li:nth-child(2) {
    color: red;
}

footer + a {
    color: red;
    border: 1px solid red;
}

.blog-pagination > a:nth-child(2){
    color: white;
    background-color: red;
}

footer p a:nth-child(2) {
    color: red;
    
}